BorderedTile(
    sprites: [],
    default: AnimatedSprite(
        animations: { "idle":  
            Animation(
                size: UVec2(16, 16),
                name: "idle",
                frames: [
                    AnimationFrame(
                        source: UVec2(71, 14),
                    ),
                ],
                fps: 4,
            ),
        },
    )
)