(
    sprites: {
        (Red, OrangeStar): (
            animations: {
                "idle" : (
                    size: (16, 16),
                    name: "idle",
                    frames: [
                        (
                            source: (3, 104),
                        ),
                        (
                            source: (20, 104),
                        ),
                        (
                            source: (37, 104),
                        ),
                    ],
                    fps: 4,
                    rev_loop: true,
                ),
                "wait" : (
                    name: "wait",
                    size: (16, 16),
                    frames: [
                        (
                            source: (339, 104),
                        ),
                        (
                            source: (356, 104),
                        ),
                        (
                            source: (373, 104),
                        ),
                    ],
                    fps: 4,
                    rev_loop: true,
                ),
            },
        ),
        (Blue, OrangeStar): (
            
            animations: {
                "idle": (
                    size: (16, 16),
                    name: "idle",
                    frames: [
                        (
                            source: (392, 104),
                        ),
                        (
                            source: (409, 104),
                        ),
                        (
                            source: (426, 104),
                        )
                    ],
                    fps: 4,
                    rev_loop: true,
                ),
            },
        ),
    },
)